
body { background-color: #BD97E9;}

img { padding: 8px;
      border: 1px solid black;
}

.highlight {
    color: black;
    background-color: lightgrey;
    padding: 10px;
    margin: 8px;
}

h2 { font-style: italic;}

main{
    margin:25x;
    background-color: white;
    padding: 25px;
}

p{
    padding: 5px;
}

nav {background-color: #BD97E9;}

a:link {text-decoration: none; color: black;}
a:hover {text-decoration: underline; color: blue;}